/* src/styles/base/reset.css */

/* Base Styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 16px;
	-webkit-text-size-adjust: 100%;
}

body {
	font-family: 'Helvetica Neue', Arial, sans-serif;
	line-height: 1.5;
	font-size: var(--font-size-16);
	color: var(--color-text-dark);
	background-color: var(--color-primary-bg);
	-webkit-font-smoothing: antialiased;
	margin: 0;
}

.ho-visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	border: 0;
	white-space: nowrap;
}
