/* src/styles/base/typography.css */

/* Headings */
.ho-heading-xl {
	font-size: var(--font-size-24);
	font-weight: 700;
	line-height: 1.125;
	margin-bottom: var(--space-3);
}

.ho-heading-l {
	font-size: var(--font-size-19);
	font-weight: 700;
	line-height: 1.25;
	margin-bottom: var(--space-2);
}

.ho-heading-m {
	font-size: var(--font-size-16);
	font-weight: 700;
	line-height: 1.3158;
	margin-bottom: var(--space-2);
}

.ho-heading-s {
	font-size: var(--font-size-14);
	font-weight: 700;
	line-height: 1.25;
	margin-bottom: var(--space-1);
}

/* Body text */
.ho-body,
.ho-body p {
	font-size: var(--font-size-16);
	line-height: 1.5;
	margin-bottom: var(--space-3);
}

.ho-body-l {
	font-size: var(--font-size-19);
	line-height: 1.5;
	margin-bottom: var(--space-3);
}

.ho-body-s {
	font-size: var(--font-size-14);
	line-height: 1.5;
	margin-bottom: var(--space-2);
}

/* Links */
.ho-link {
	color: var(--color-blue-dark);
	text-decoration: underline;
	text-decoration-thickness: 1px;
	text-underline-offset: 0.1em;
}

.ho-link:hover {
	color: var(--color-text-dark);
	text-decoration-thickness: 3px;
}

.ho-link:focus {
	outline: 3px solid var(--color-blue-light);
	background-color: var(--color-blue-light);
	color: var(--color-text-dark);
	text-decoration: none;
	box-shadow: 0 -2px var(--color-blue-light), 0 4px var(--color-text-dark);
}
